/*===================================
            General Rules
===================================*/
/*#08AEAC*//*#021533*//*#08AEAC*/

/*===================================
           Start Main Menu
===================================*/
body {
  background: url('http://www.desktopwallpaperhd.net/wallpapers/8/e/wallpaper-beautiful-backgrounds-desktop-mac-87710.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.container{
    transition: all 0.3s ease-in-out;
    position: relative;
}
.menu-wrap{
    width: 15%;
    margin-top: 30px;
    position: absolute;
    left: 15%;
    display: none;
    transition: all 0.6s ease-in-out;
}
.menu-wrap .menu-inner{
    position: relative;
}
.menu-wrap ul{
    margin: 0;
    padding: 0;
}
.menu-wrap ul > li{
    list-style: none;
    margin-bottom: 5px;
}
.menu-wrap ul > li a{
    display: block;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #08aeac;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.menu-wrap ul > li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-wrap ul > li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-wrap ul li a:hover,
.menu-wrap ul li a:focus,
.menu-wrap ul .li-active a{
    background-color: #021533;
}
.page{
    width     : 99%;
    /* padding   : 30px; */
    overflow-y: auto;
    margin    : 20px auto;
    transition: all 0.6s ease-in-out;
    background: url("http://dotrex.co/theme-preview/cards/img/bg-card2.png") repeat-x right top #F4F4F4; 
}
.page-inner{
    padding: 30px;
}
.page1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.contact{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 7px solid #08aeac;
}

/*===================================
           Start Home Sec
===================================*/
.home{
    z-index: 10;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 7px solid #08aeac;
}
.home .profile-pic .pic{
    width: 200px;
    height: 200px;
    background-color:#eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
    overflow: hidden;
}
.home .profile-pic .pic img{
    width: 100%;
    height: 100%;
}
.home .profile-desc{
    text-align: center;
}
.home .profile-desc h1{
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
}
.home .profile-desc h1 span{
    color: #08aeac;
}
.home .profile-desc h2{
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
hr{
    margin: 10px 20px;
    border-top: 1px solid #ccc;
}
.home .profile-desc p{
    padding: 10px;
    margin: 0 20px 10px;
}
.home .profile-desc p.feature{
    background-color: #08AEAC;
    color: #fff;
    padding:10px;
    border-radius: 5px;
}
.home .s-links{
    text-align: center;
    padding: 10px;
}
.home .s-links a{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #021533;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
}
.home .s-links a:hover{
    background-color: #08AEAC;
}
/*===================================
           Start Resume Page
===================================*/
.resume{
    color: #000;
}
.page-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #021533;
    text-transform: uppercase;
    font-size: 22px;
    color: #021533;
    line-height: 26px;
    font-weight: bold;
}
.resume .resume-sec,
.resume .resume-sec{
    margin-bottom: 40px;
}
.resume .item-title{
    font-weight: bold;
    color: #08aeac;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    padding: 5px 0 5px 15px;
    border-left: 4px solid #08aeac;
}
.resume .resume-item{
    padding: 15px;
    color: #555;
    border: 4px double #ccc;
    margin-bottom: 20px;
}
.resume .resume-item .item-title2{
    color: #333;
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
    
}
.item-time{
    border-bottom: 1px solid #ccc;
    color: #555;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
}
.carousel {
    margin-top: 20px;
}
.carousel-inner > .item{
    padding: 20px;
}
.carousel-caption{
    position: relative;
    background-color: #08AEAC;
    padding: 20px;
    left: 0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.carousel-caption:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #08AEAC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.sec-testimonials .credits p{
    text-align: center;
}
.sec-testimonials .credits p.testimonial-author{
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
}
.sec-testimonials .credits p.testimonial-firm{
    font-size: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #ddd;
}
.carousel-indicators{
    position: static;
    margin: 0 auto;
}
.carousel-indicators li{
    background-color: #869791;
    border: 1px solid #869791;
}
.carousel-indicators .active {
    background-color: #08AEAC;
    border: 1px solid #08AEAC;
}
/*===================================
           Start Skills Page
===================================*/
.skills{
    color:#fff;
}
.skills .page-title{
    margin-bottom:40px;
}
.skills .skills-sec{
    margin-bottom:40px;
}
.skills .skill-item{
    text-align: center;
}
.skills .skill-item-title{
    color:#333;
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
    line-height: 22px;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border-bottom: 1px dotted #021533;
    padding-bottom: 5px;
    font-size: 15px;
}
.skills .progress{
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}
.skills .progress > .progress-type {
    position: absolute;
    left: 0px;
    font-size: 14px;
    padding: 2px 30px 2px 10px;
    color: #fff;
}
.skills .progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
    color: #888;
    font-size: 13px;
}
.skills .progress .progress-bar-success {
    background-color: #08AEAC;
}
.skills .progress .progress-bar-info {
    background-color: #021533;
}
.skills .progress .progress-bar-danger {
    background-color: #D9212A;
}
.skills canvas{
    margin: auto;
    box-shadow: inset 0 0 1px 1px #ddd;
    border-radius: 50%;
}
/*===================================
        Start Portifolio Page
===================================*/
.portfolio{
    //z-index: 12;
}
.portfolio ul{
    margin: 20px 0 30px;
    padding: 0;
    text-align: center;
}
.portfolio ul > li{
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 12px;
    color: #08AEAC;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #08AEAC;
}
.portfolio .btn:hover,
.portfolio .btn:focus,
.portfolio .btn.focus,
.portfolio .btn.active{
    color: #fff;
    background-color: #021533;
    border: 2px solid #021533;
}
.portfolio .project-item {
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.portfolio .project-item a{
    display: block;
    height: 250px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}
.portfolio .project-item a:hover .project-description-wrap{
    opacity: 1;
}
.portfolio img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 7px;
}
.portfolio .project-description-wrap{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
}
.project-description{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -60px;
}
.project-description .project-title{
    font-size: 20px;
    font-style: italic;
    //text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-description .project-title:after{
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid #fff;
    margin: 10px auto;
    opacity: 0.5;
}
.project-description p{
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 12px;
}
.project-description i.see-more{
    font-size: 20px;
    margin: 5px;
}
/*===================================
        Start Contact Page
===================================*/
.contact .contact-item h4{
    color: #08aeac;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #08aeac;
}
.contact .contact-item p{
    font-size: 13px;
    line-height: 16px;
}
.contact .form-group{
    margin-bottom: 7px;
}
.contact .form-control{
    height: 50px;
    font-style: italic;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    
}
.contact textarea.form-control{
    height: auto;
}
.contact .btn-default{
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #008c8a;
    border: 0;
    padding: 10px; 
}
.contact .btn-default:hover,
.contact .btn-default:focus{
    background: #d9212a;
    color:#fff;
    outline: 0;
}

/*===================================
                Media
===================================*/
@media(min-width:992px){
    .container{
        min-height: 650px;
    }   
    .menu-wrap{
        display: block;
    }
    .page{
        height: 570px;
        width: 40%;
        position: absolute;
        margin-top: 30px;
        left: 31%;
        /* padding-bottom: 20px; */
    }
    .page-inner{
        position: relative;
        padding-bottom: 20px;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .page1{
        opacity: 0;
        visibility: hidden;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-left: 7px solid #08aeac;
    }
    .home{
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 7px solid #08aeac;
        border-top: 0;
    }
    .contact{
        border-bottom: 0;
    }
    .menu-active{
        left:0%;
    }
    .home-active{
        left: 16%;
    }
    .page-active{
        left: 57%;
        opacity: 1;
        visibility: visible;
    }
}


.ps-scrollbar-y-rail {
    //opacity: 0.9 !important;
    left: 0 !important;
    width:6px !important;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    width:4px !important;
    background-color: #08AEAC !important;
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #08AEAC !important;;
}













