/*===================================
            General Rules
===================================*/

/*===================================
           Start Main Menu
===================================*/
body {
  background: url('../_images/') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.container{
    transition: all 0.3s ease-in-out;
    position: relative;
}
.menu{
    width: 15%;
    margin-top: 30px;
    position: absolute;
    left: 15%;
    display: none;
    transition: all 0.3s ease-in-out;
}
.menu .menu-inner{
    background-color: #6C445E;
    position: relative;
}
.menu .menu-inner:after, .menu-inner:before{
    content: "";
    position: absolute;
    border-top: 50px solid #6C445E;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}
.menu .menu-inner:before{
    border-top: 40px solid #B49E91;
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;
    bottom: -37px;
    margin: auto 11px;
    z-index:10;
}
.menu ul{
    padding: 20px 10px 10px;
    margin: 0;
}
.menu ul li{
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    position: relative;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-top: 1px solid #B49E91;
    text-transform: uppercase;
    background-color: #B49E91;
    /* border-bottom: 1px solid #B49E91; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu ul li a:after{
    content: "";
    right: -20px;
    top:0px;
    position: absolute;
    border-left: 20px solid #8CBEA1;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    display: none;
}
.menu ul li a:hover:after{
    display: inline-block;
}
.sec{
    width: 40%;
    border: 5px solid #B49E91;
background: #48394c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #48394c 0%, #6c445e 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #48394c 0%,#6c445e 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #48394c 0%,#6c445e 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    position: absolute;
    left: 31%;
    margin-top: 30px;
    padding: 30px;
    /* overflow-y: auto; */
    transition: all 0.3s ease-in-out;
}
.page{
    opacity: 0;
}
.home{
    z-index: 10;
}
.home .profile-pic .pic{
    width: 200px;
    height: 200px;
    background-color:#eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
}
.home .profile-desc{
    text-align: center;
}
.home .profile-desc h1{
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #fff;
}
.home .profile-desc h1 span{
    color: #B49E91;
}
.home .profile-desc h2{
    text-align: center;
    color: #fff;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
hr{
    margin: 10px auto;
    width: 80%;
}
.home .profile-desc p{
    padding: 10px;
    color: #fff;
    margin: 0 20px 10px;
}
.home .profile-desc p.feature{
    background-color: #B49E91;
    padding:10px;
    border-radius: 5px;
    color: #000;
}
.home .s-links{
    text-align: center;
    padding: 10px;
}
.home .s-links a{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
} 
/*-----------------*/
.menu-active{
    left:0%;
}
.home-active{
    left: 16%;
}
.page-active{
    left: 57%;
    opacity: 1;
}

@media(min-width:992px){
    .container{
        min-height: 650px;
    }
    .sec{
        height: 570px;
    }
    .menu{
        display: block;
    }
    
}











