/*===================================
            General Rules
===================================*/

/*===================================
           Start Main Menu
===================================*/
body {
  background: url('http://www.desktopwallpaperhd.net/wallpapers/8/e/wallpaper-beautiful-backgrounds-desktop-mac-87710.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.container{
    transition: all 0.3s ease-in-out;
    position: relative;
}
.menu{
    width: 15%;
    margin-top: 30px;
    position: absolute;
    left: 15%;
    display: none;
    transition: all 0.3s ease-in-out;
}
.menu .menu-inner{
    background-color: #2F3A40;
    position: relative;
}
.menu .menu-inner:after{
    content: "";
    position: absolute;
    border-top: 50px solid #2F3A40;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}
.menu ul{
    padding: 30px 10px 10px;
    margin: 0;
}
.menu ul li{
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #7FA4B7;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.menu ul li a:after{
    content: "";
    right: -10px;
    position: absolute;
    border-left: 20px solid #7FA4B7;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: none;
}
.menu ul li a:hover:after{
    display: inline-block;
}
.page{
    width: 40%;
    background-color: #2F3A40;
    position: absolute;
    left: 31%;
    margin-top: 30px;
    padding: 30px;
    overflow-y: auto;
    background: url("http://dotrex.co/theme-preview/cards/img/bg-card2.png") repeat-x right top #2F3A40;
    transition: all 0.3s ease-in-out;
}
.page1{
    opacity: 1;
}
/*===================================
           Start Home Sec
===================================*/
.home{
    z-index: 10;
}
.home .profile-pic .pic{
    width: 200px;
    height: 200px;
    background-color:#eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
}
.home .profile-desc{
    text-align: center;
}
.home .profile-desc h1{
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #fff;
}
.home .profile-desc h1 span{
    color: #7FA4B7;
}
.home .profile-desc h2{
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}
hr{
    margin: 10px 20px;
}
.home .profile-desc p{
    padding: 10px;
    color: #fff;
    margin: 0 20px 10px;
}
.home .profile-desc p.feature{
    background-color: #7FA4B7;
    color: #000;
    padding:10px;
    border-radius: 5px;
}
.home .s-links{
    text-align: center;
    padding: 10px;
}
.home .s-links a{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
} 
/*===================================
           Start Resume Page
===================================*/
.resume{
    color: #fff;
    left: 16%;
    z-index: 12;
}
.page-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}
.resume .resume-sec,
.resume .resume-sec{
    margin-bottom: 40px;
}
.resume .item-title{
    font-weight: bold;
    color: #7FA4B7;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    padding: 5px 0 5px 15px;
    border-left: 4px solid #7FA4B7;
}
.resume .resume-item{
    padding: 15px;
    border: 4px double #eee;
    margin-bottom: 20px;
}
.resume .resume-item .item-title2{
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
    
}
.item-time{
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
}
.carousel {
    margin-top: 20px;
}
.carousel-inner > .item{
    padding: 20px;
}
.carousel-caption{
    position: relative;
    background-color: #7FA4B7;
    padding: 20px;
    left: 0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.carousel-caption:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #7FA4B7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.sec-testimonials .credits p{
    text-align: center;
}
.sec-testimonials .credits p.testimonial-author{
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
}
.sec-testimonials .credits p.testimonial-firm{
    font-size: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #ddd;
}
.carousel-indicators{
    position: static;
    margin: 0 auto;
}
.carousel-indicators li{
    border: 1px solid #7FA4B7;
}
.carousel-indicators .active {
    background-color: #7FA4B7;
}
/*===================================
           Start Skills Page
===================================*/
.skills{
    color:#fff;
}
.skills .page-title{
    margin-bottom:40px;
}
.skills .skills-sec{
    margin-bottom:40px;
    text-align: center;
}
.skills .skill-item{
    text-align: center;
}
.skills .skill-item-title{
    color:#7FA4B7;
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
    border-bottom: 1px dotted #7FA4B7;
    padding-bottom: 5px;
    font-size: 15px;
}
.skills canvas{
    margin: auto;
}
/*-----------------*/
.menu-active{
    left:0%;
}
.home-active{
    left: 16%;
}
.page-active{
    left: 57%;
    opacity: 1;
}

@media(min-width:992px){
    .container{
        min-height: 650px;
    }
    .page{
        height: 570px;
    }
    .menu{
        display: block;
    }
    
}











